[submodule "apps/bariloche/app-server"]
	path = apps/bariloche/app-server
	url = https://github.com/Dataherald/AppServer.git
[submodule "apps/bariloche/programmatic-seo"]
	path = apps/bariloche/programmatic-seo
	url = https://github.com/Dataherald/programmatic-seo.git
