/home/aazo11/CYCPrototype/env
__pycache__/
.vscode/
venv/
*.zip
.idea/*
id_rsa
dbdata/

**/node_modules

# Environments
.env
.env.test
.venv
env/
ENV/
env.bak/
.DS_Store


# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

**/.terraform/*
.vercel
