[submodule "bariloche/app-server"]
	path = bariloche/app-server
	url = https://github.com/Dataherald/AppServer.git
[submodule "bariloche/programmatic-seo"]
	path = bariloche/programmatic-seo
	url = https://github.com/Dataherald/programmatic-seo.git
